<a href="https://colab.research.google.com/github/rdbabu/BABU-RD/blob/main/2ndLABBABU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print ("Choice 1: Add 2: sub 3: div 4: mul 5: Quit")
n1=input("enter your choice:")
n=int(n1)
if (n==1):
  a1 = input("ENTER A NUMBER 1")
  b1 = input("ENTER A NUMBER 2")
  a = int(a1)
  b = int(b1)
  c = a+b
  print("THE ADD OF",a,"+",b,"=",c)
elif (n==2):
  a1 = input("ENTER A NUMBER 1")
  b1 = input("ENTER A NUMBER 2")
  a = int(a1)
  b = int(b1)
  c = a-b
  print("THE SUB OF",a,"-",b,"=",c)
elif (n==3):
  a1 = input("ENTER A NUMBER 1")
  b1 = input("ENTER A NUMBER 2")
  a = int(a1)
  b = int(b1)
  c = a/b
  print("THE DIV OF",a,"/",b,"=",c)
elif (n==4):
  a1 = input("ENTER A NUMBER 1")
  b1 = input("ENTER A NUMBER 2")
  a = int(a1)
  b = int(b1)
  c = a*b
  print("THE MUL OF",a,"*",b,"=",c)
elif (n==5):
  exit()

Choice 1: Add 2: sub 3: div 4: mul 5: Quit
enter your choice:4
ENTER A NUMBER 155
ENTER A NUMBER 222
THE MUL OF 55 * 22 = 1210

In [2]:
print ("Fibonmacci Series")
n1 = input("Enter the number:")
n = int(n1)
if (n>0):
  f = 0
  s = 1
  i = 0
  next = 0
  while (1):
    print ("\n\n****************************")
    for i in range (n+1):
      if (i<=1):
        print(i)
      else:
        next = f + s
        f = s
        s = next
        print (next)
    i = i + 1
    break
else:
  print ("You have entered wrong input", n)

Fibonmacci Series
Enter the number:9


****************************
0
1
1
2
3
5
8
13
21
34

In [4]:
num = 9
num_sqrt = num**0.5
print("The square root of",num,"is",num_sqrt)

The square root of 9 is 3.0

In [5]:
print("AREA OF TRIANGLE")
a=int(input("Enter a"))
b=int(input("Enter b"))
c=int(input("Enter c"))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))/2
print("THE AREA OF TRIANGLE IS:",area)

AREA OF TRIANGLE
Enter a3
Enter b5
Enter c6
THE AREA OF TRIANGLE IS: 28.0

In [9]:
x=int(input("Enter the value 1:"))
y=int(input("Enter the value 2:"))
temp = x
x = y
y = temp
print("The value of x after swapping",x)
print("the value of y after swapping",y)

Enter the value 1:6
Enter the value 2:7
The value of x after swapping 7
the value of y after swapping 6