<a href="https://colab.research.google.com/github/rdbabu/BABU-RD/blob/main/unit2babu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
names={'babu',
        'afsar',
        'dhilip'}
print(names)

{'dhilip', 'afsar', 'babu'}

In [5]:
x=y+3

NameError: ignored

In [8]:
x=10
y=15
print('x+y=',x+y)
print('x-y=',x-y)
print('x/y=',x/y)
print('x*y=',x*y)
print('x//y',x//y)
print('x**y',x**y)

x+y= 25
x-y= -5
x/y= 0.6666666666666666
x*y= 150
x//y 0
x**y 1000000000000000

In [9]:
x=10
y=15
print('x>y is',x>y)
print('x<y is',x<y)
print('x==y is',x==y)
print('x!=y is',x!=y)
print('x>=y is',x>=y)
print('x<=y is',x<y)

x>y is False
x<y is True
x==y is False
x!=y is True
x>=y is False
x<=y is True

In [13]:
x = True
y = False
print('x and y is',x and y)
print('x or y is',x or y)
print('not y is',not y)

x and y is False
x or y is True
not y is True

In [15]:
x1 = 10
y1 = 10
x2 = 'hello'
y2 = 'hello'
x3 = {1,2,3}
y3 = {1,2,3}
print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

False
True
False

In [18]:
x = 'hello world'
y = {1:'a',2:'b'}
print('h' in x)
print('hello' not in x)
print('1' in y)
print('b' in y)

True
False
False
False

In [26]:
a=10
b=5
c= a & b
print(c)

0

In [24]:
a=15
b=5
k= a | b
print(k)

15

In [27]:
a=10
b=5
print("~a =",~a)

~a = -11

In [29]:
a = 20
b = -20
print("a>>1",a>>1)
print("b>>1",b>>1)

a>>1 10
b>>1 -10

In [35]:
num1=int(input("Enter First Number"))
num2=int(input("Enter Second Number"))
SumValue = (num1 - num2)
print(" The Sum Of The Given Number is", SumValue)

Enter First Number10
Enter Second Number5
 The Sum Of The Given Number is 5

In [34]:
fruits=["apple","mango","orange"]
numbers=(1,2,3)
alphabets={'a':'apple','b':'ball','c':'cat'}
vowels={'a','e','i','o','u'}
print(fruits)
print(numbers)
print(alphabets)
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'e', 'i', 'o', 'a', 'u'}

In [36]:
y=5
y+2=x
print(x)

SyntaxError: ignored